.container{
    display: grid;
    margin: auto;
    grid-gap: 10px;
    grid-template: repeat(12, 1fr) / repeat(6, 1fr);
}
header{
    padding: 10px 30px;
    grid-area: 1/1/1/7;
    font-size: 20px;
    color: rgb(95, 211, 186);
    background-color: #2E1114;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
    padding: 35px;

}
.header-right a{
    padding: 15px;  
    background-color: #ADADAD;
    margin-right:30px;
    border-radius: 10px;

}

* {box-sizing: border-box;}

nav{
    text-align: center;
    grid-area: 2/1/5/3;
    background-color:#83677B;
}
nav img{
    height: auto;
    width: 50%;
    border: 15px solid #2e2c2c;
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

aside{
    grid-area: 2/3/5/7;
    background-color: #ADADAD;
    font-size: 20px;
    padding: 40px;
    text-align: center;
}