@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nerko+One&display=swap');
.container{
    display: grid;
    margin: auto;
    grid-gap: 10px;
    grid-template: repeat(8, 1fr) / repeat(6, 1fr);
}
header{
    padding: 10px 10px;
    grid-area: 1/1/2/7;
    font-size: 20px;
    color: rgb(95, 211, 186);
    background-color: #2E1114;
}
.header-left{
    float: left;
    padding-left: 50px;
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
}

.header-right{
    float: right;
    padding-top: 90px;

}
.header-right a{
    padding: 15px;  
    background-color: #ADADAD;
    margin-right:30px;
    border-radius: 10px;
}

* {box-sizing: border-box;}

nav{
    text-align: center;
    grid-area: 2/1/5/4;
    background-color:#83677B;
    font-size: 25px;
}
nav img{
    height: auto;
    width: 50%;
    border: 15px solid #2e2c2c;
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

aside{
    grid-area: 2/4/5/7;
    background-color: #ADADAD;
    font-size: 25px;   
    padding: 40px;
    text-align: center;
}

#skills {
    display: flex;
    margin-top: 20px;
}
.img{
    width: 12rem;
    height: 12rem;
    padding: 50px;
    margin: 5px;
    border: 10px solid #501B1D;
    border-radius: 45%;
}
section{
    text-align: center;
    grid-area: 5/1/7/7;
}
section h2{
    font-size: 40px;
}